.review {
    padding: 0rem 2rem 2rem 2rem;

    & img {
        border-radius: 50%;
        border: 10px solid #FA96AA;
        margin-block: 20px;
    }

    
    & h3 {
        font-weight: bold;
        color: #707070;
        height: 40px;
    }
}

.pinkBar {
    background-color: #FA96AA;
    height: 1px;
    margin-block: 10px;
}