.footer {
    background-color: #D9D9D9;
    padding-block: 1rem;
}

.icons svg {
  font-size: 30px;
  color: #333;
  margin-right: 10px;
  cursor: pointer;
  transition: color 0.3s;
}

.icons svg:hover {
  color: #ff4081;
}
