.footer {
    background-color: #D9D9D9;
    padding-block: 2rem;
}



.icons svg {
  font-size: 30px;
  cursor: pointer;
  transition: color 0.3s;
  margin-left: 10px;
  margin-right: 10px;
  
}

.icons svg:hover {
  color: #ff4081;
}


