.card {
    width: 300px;
    margin: auto;
    margin-bottom: 2rem;
    border-radius: 0px 0px 10px 10px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);

    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block; 
    }

    & h3 {
        line-height: 30px;
        text-align: left;
        width: 270px;
        padding: 10px;
        font-weight: 400;
    }
}

button {
    background-color: black;
    border: none;
    color: white;
    padding: .5rem 1rem;
    border-radius: 20px;
    text-transform: uppercase;
}

.buy {
    display: grid;
    grid-template-columns: 1fr auto;
    padding: 10px;
    align-items: center;
}

.buy p {
    text-align: left;
    margin: 0; 
    font-size: 1.3rem;
}

