.header {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    position: absolute;
    top: 45%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    background-color: #F7F0F2;
    padding: 2rem;
    text-align: center;
}
