
/* Original style */
.header {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    position: absolute;
    top: 45%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    background-color: #F7F0F2;
    padding: 2rem;
    text-align: center;
    text-transform: uppercase;
}



/* Dark style */
.header.dark {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
    color: #fff;
    text-transform: uppercase;

    & h1 {
        padding-bottom: 1rem;
    }
}

.header.dark img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header.dark .content {
    position: absolute;
    top: 35%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 2rem;
    text-align: center;
}


/* Pink style */
.header.pink {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
    color: #fff;
    text-transform: uppercase;

    & h1 {
        padding-bottom: 1rem;
    }
}

.header.pink img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header.pink .content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    background-color: #FA96AA;
    padding: 2rem;
    text-align: center;
}




/* Member style */
.header.member {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
    color: black;
    text-transform: uppercase;

    & h1 {
        padding-bottom: 1rem;
        color: #FA96AA;
    }
}

.header.member img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header.member .content {
    position: absolute;
    top: 45%;
    left: 50%;
    width: 100%;
    background-color: white;
    padding: 2rem 3.5rem 2rem 3.5rem;
    text-align: center;
}





