.logo {
    width: 150px;
}

.navigation {
    display: grid;
    grid-template-columns: 1fr auto auto;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}


.menu {
    position: fixed;
    inset: 0;
    background-color: black;
    z-index: 100;
    font-size: 1.5rem;
    padding: 2rem;
    text-transform: uppercase;
    height: 300px;
    border-radius: 0px 0px 20px 20px;

    display: flex;
    flex-direction: column;
    align-items: flex-end;

    opacity: 0;
    transform: translateY(-20px);
    pointer-events: none;

    transition: opacity 0.5s ease, transform 0.3s ease;
}

.menu.open {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.menu li {
    margin: 1rem 0;
}

a {
    text-decoration: none;
    color: white;
}

.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.1);
    z-index: 50;
    backdrop-filter: hue(2px);
}
