@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;}

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

body,
html {
  font-family: "quicksand", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Quicksand", cursive;
  line-height: 60px;
}


